.bc1{
  background-color:bisque; 
}

.bc2{
    background-color: rgb(136, 130, 97);
}  

#hp {
   background-color: rgb(136, 130, 97); 
}

.head {
    color: rgb(104, 75, 20);
    font-family: Verdana;
}

.arr {
    margin: 20px 0px 0px 0px;
}

